.caontainer {
    display: flex;
    height: 800;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.center-center {
    align-items: center;
    justify-content: center;
}

.flex-1 {
    flex: 1;
}

.card {
    margin: auto;
    padding: 20;
    height: 300;
    width: 300;
    background-color: aquamarine;
}